*.swp
output.txt
player
playdom
testUpdateCoins
unittest1
unittest2
unittest3
unittest4
unittest5
cardtest1
cardtest2
cardtest3
cardtest4
cardtest5
randomtestcard1
randomtestcard2
randomtestcard3
.nfs*
